  <div class="mx-auto" style="width: 50%;">
  <h2> Edit User </h2>


  <%= form_with(model: @user, local: true) do |form| %>
  <div class="card" style="width: 28rem;">
    <div class="form-group field">
        <%= form.hidden_field :user_id, value: current_user.id %>
        <h5 class="card-title"><%= form.label :name, class: "form-label" %></h5>
        <%= form.text_field :name, class: "form-control" %>
    </div>

    <% if current_user.role == 2 %>

    <div class="form-group field">
      <h5 class="card-title"><%= form.label :role, class: "form-label" %></h5>
      <%= form.number_field :role, class: "form-control" %>
    </div>

    <% end %>

    <div class="form-group field">
      <h5 class="card-title"><%= form.label :location, class: "form-label" %></h5>
      <%= form.text_field :location, class: "form-control" %>
    </div>

    <div class="form-group field">
      <h5 class="card-title"><%= form.label :bio, class: "form-label" %></h5>
      <%= form.text_field :bio, class: "form-control" %>
    </div>

    <div class="form-group field">
      <h5 class="card-title"><%= form.label :email, class: "form-label" %></h5>
      <%= form.text_area :email, class: "form-control" %>
    </div>

    
    </div>

    <div class="row mt-3 ml-0">
      <div class="form-group actions">
        <%= form.submit class: "btn btn-primary" %>
      </div>
      
    </div>
    <button type="button" class="btn btn-light"><%= link_to 'Password Settings', edit_user_registration_path %></button>
  </div>
  <% end %>
</div>


